#home{

    color: #222;
    font-weight: bolder;
    font-size: 65px;
    line-height: 70px;
    text-transform: capitalize;
    font-family: 'Quicksand', sans-serif;

}

.descriptionPara{
    font-family: 'Quicksand', sans-serif;
    font-weight: 200;   
}